@import "bootstrap";

.container {
	margin-top: 50px;
	margin-bottom: 50px;
}

.index-box {
	padding: 20px;
	background-color: #DCDCDC;
	border-radius: 5px;
}

.index-box a {
	font-size: 30px;
}

.header-area {
	background-color: black;
	padding: 16px;

	nav {
		padding-top: 5px;
	}

	h3 {
		
		font-weight: 100;
		padding-right: 25px;
		margin: 0;
		a {
			color: aquamarine;
			text-decoration: none;
		}
	}

	a {
		color: white;
	}
}

.center {
	width: 400px;
	margin: 0 auto;
	letter-spacing: 4px;
}